@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Caros Regular";
  src: url("../font/caros.woff");
  font-display: swap;
}

@font-face {
  font-family: "Caros Black";
  src: url("../font/caros-black.woff");
  font-display: swap;
}
@font-face {
  font-family: "Caros Bold";
  src: url("../font/caros-bold.woff");
  font-display: swap;
}

@font-face {
  font-family: "Caros Thin";
  src: url("../font/caros-thin.woff");
  font-display: swap;
}

@font-face {
  font-family: "Caros Light";
  src: url("../font/caros-light.woff");
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}
html,
body {
  font-family: "Caros Regular";
}

h1,
h2,
h3,
h4,
p,
small,
label {
  @apply transform transition-all duration-200 ease-linear;
}

h1 {
  @apply text-5xl lg:text-7xl font-caros-bold;
}

h2 {
  @apply text-4xl xl:text-5xl  font-caros-bold;
}

h3 {
  @apply text-3xl lg:text-4xl font-caros-bold;
}
h4 {
  @apply text-xl lg:text-2xl;
}
h5 {
  @apply text-lg lg:text-xl;
}

p {
  @apply text-base  leading-8;
}

@layer components {
  .margin {
    @apply mx-auto max-w-screen-xl;
  }
}
